

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyAPP...</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/first">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/second">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button routerLink="/auth/signin" class="btn btn-outline-success" type="submit">SignIn</button>
      </form>
    </div>
  </div>
</nav>

<!-- <h1 class="a" style="color: hotpink;">welocme </h1> 
<h4>{{num}}</h4>
<button type="button"[disabled]="isUnchange">disable button</button><br><br>-->
<!-- <button (click)="myfun()">click me</button> -->
<!-- <button (click)="toggleDivs()">toggle Divs</button> -->
<!-- <br> 
<br>
<div *ngif="showDiv" style="padding: 20px; background-color: blueviolet; margin-bottom: 10px;">this is the div</div>
<h1>list of items
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>
</h1>


<h1>what day is  it today?</h1>
<div [ngSwitch]="dayOfWeek">
<p *ngSwitchCase="'Monday'">its monday</p>
<p *ngSwitchCase="'wednesday'">its wednesday!!!!</p>
<p *ngSwitchCase="'friday'">its friday end of the working week</p>
<p *ngSwitchDefault> just another day!</p>

</div>
<button (click)="dayOfWeek='Monday'">Monday</button> <br><br>
<button (click)="dayOfWeek='wednesday'">wednesday</button> <br><br>
<button (click)="dayOfWeek='friday'">friday</button><br><br>
<button (click)="dayOfWeek='Sunday'">Sunday</button> <br><br>



<h2>form or template-driven forms</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">

<label for="name">name:
</label>
<input type="text" name="name" [(ngModel)]="user.name" required> <br><br>
<label type="email"> Email:</label>
<input type="email" name="email"[(ngModel)]="user.email" required email>
<br><br>
<button type="submit"> submit</button>

</form>
<p *ngIf="submitted"> from submitted with values:</p>
<ul *ngIf="submitted"> 
  <li>
    Name:{{user.name}}
  </li>
<li>email:{{user.email}}</li>
</ul>-->


<!--  
<app-first></app-first>

<app-second></app-second>-->
<br>


<!-- <button  routerLink="/first" >to view my 1st component</button> -->

<!-- <button routerLink="/second"> view 2nd component</button> -->
<app-card>
<h2>reused card title SATHYA</h2>
<p>this is some dynamic cotent passed to the card</p>
</app-card>

<router-outlet></router-outlet>